<div id="home" class="current">
  <div class="toolbar">
    <h1><%= @entry.writing %></h1>
    <a href="#" class="back"><%= t("back", :default => "Zurück") %></a>
  </div>
  <h2>Schreibung</h2>
  <ul>
    <li><%= @entry.writing %></li>
  </ul>
  <h2>Lesung</h2>
  <ul>
    <li><%= @entry.kana%></li>
    <li><%= @entry.romaji %></li>
  </ul>
  <h2>Übersetzung</h2>
  <ul>
    <li><%= @entry.to_html(root_url) %></li>
  </ul>
</div>
