<div class="content">
  <div class="page-header">
    <h1><%= t("search.detail") %> <small><%=@entry.midashigo %></small> </h1>
  </div>
  <div class="row">
    <div class="span16 entries">
      <h2><%= t("entry.main_entry")%></h2>
      <p>
        <%= render @entry %>
      <p>
      <% if not @entry.sub_entries.empty? %>
        <h2><%= t("entry.sub_entries")%></h2>
        <p>
          <%= render @entry.sub_entries %>
        </p>
      <% end %>
    </div>
  </div>
</div>
