<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Details")}", entry_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      <h3>Haupteintrag</h3>

        <p>
          <b><%= t("activerecord.attributes.entry.writing", :default => t("activerecord.labels.writing", :default => "Writing")) %>:</b>
          <%= @entry.writing %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.entry.kana", :default => t("activerecord.labels.kana", :default => "Kana")) %>:</b>
          <%= @entry.kana %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.entry.definition", :default => t("activerecord.labels.definition", :default => "Definition")) %>:</b>
            <%= @entry.to_html(root_url) %>
        </p>

        <p>
          <h3><%= t("activerecord.attributes.entry.entry_relation", :default => t("activerecord.labels.entry_relation", :default => "Verwandte Einträge")) %>:</h3>
          <ul class="list">
            <% @entry.related.each do |cur_entry| %>
              <li>
                <h4>
                  <%=cur_entry.midashigo%>
                </h4>
                <h5><%=cur_entry.kana%></h5>
                <p>
                  <%= cur_entry.short_html(root_url)%>
                  <br />
                <%= link_to t("entry.detail"), cur_entry %>
                </p>
              </li>
  
            <% end %>
          </ul>
        </p>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
