<div class="block">
  <div class="content">          
    <h2 class="title"><%= t("search.results", :default => "Suchergebnisse")  %> </h2>
    <div class="inner">
      <table class="table">
        <tr>             
          <th class="first">Lemma</th>
          <th>
            Romaji
          </th>
          <th>
            Definition
          </th> 
          <th class="last">&nbsp;</th>
        </tr>
        <% @entries.each do |entry| -%>
        <tr class="<%= cycle("odd", "even") %>">
          <td>
            <%= entry.writing %>
          </td>
          <td>
            <%= entry.romaji %>
          </td>
          <td>
            <%= entry.short_html%>
          </td>
          <td class="last">
            <%= link_to "#{t("web-app-theme.show", :default => "Detailansicht")}", entry_path(entry) %> 
          </td>
        </tr>          
        <% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        
        <%= will_paginate @entries  %>
        
      </div>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar', :locals => {:search => @search}) -%>
