<div class="content">
  <div class="page-header">
    <h1>和独辞典<small> WaDokuJT</small></h1>
  </div>
  <div class="row">
    <div class="span16">
      <% flash.each do |key, msg| %>
        <div class="alert-message <%= key %>">
          <p><%=msg%></p>
        </div>
      <% end %>
    </div> 
    <div class="span16">
      <h2>Suche</h2>
      <p class="centered">
        <%= t("search.info") %>
      </p>
      <p class="centered">
        <%= form_tag search_index_path, :method => :get do %>
          <%= text_field_tag "search", params[:search], :class => "span10", :placeholder => t("search.example") %>
          <button class="btn" type="submit"><%= t("search.search")%></button> 
        <% end %>
          
      </p>
    </div>
  </div>


</div>
